# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*.pyc
# C extensions
*.so

#VS Code debugging
.vscode/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Node modules
**/node_modules/**